.container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    margin-bottom: 3rem;
}

.title {
    font-size: 1.75rem;
    font-weight: bold;
}

.description {
    font-size: 1.2rem;
    color: var(--body);
}

.footer {
    display: flex;
    margin-top: 1rem;
}